


@tailwind base;
@tailwind components;
@tailwind utilities;


.form-submit {
  @apply bg-main-gray flex p-10  justify-center items-center h-[15%] max-w-[100%];
}

.form-submit button {
  @apply bg-black text-white px-8 py-7 rounded-[30%] 
  ml-[-9rem] w-[8rem] hover:bg-gray-900 
}


.form-submit input { 
  @apply h-[90px] bg-main-white rounded-[2rem] w-[75%] p-8 shadow-sm shadow-black text-2xl
}


.title-user::before {
  content: "SUA PERGUNTA: ";
}

.title-bot::before {
  content: "RESPOSTA: ";
}




/* #user-input {
  font-family: 'Poppins', sans-serif;;
  width: 80%;
  padding: 1.2rem;
  border: none;
  border-radius: 10px;
  color: #333; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  font-size: 1.4rem;
} */

#user-input::placeholder {
  color: #999; 
  font-size: 2rem;
}

#user-input:focus {
  background-color: #fff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

#button-send {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  margin: 1rem 0;
 
  min-width: 30%;
  max-width: 65%;
  border: none;
  border-radius: 10px;
  background-color: #941950; 
  color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  font-size: 1.2rem;
}



.user-message, .bot-message {

  font-size: 1rem; 
  line-height: 1.5rem;
  max-width: 100%;
  word-wrap: break-word;
  display:flex;
  align-items: center;
  
}

.user-message {

  @apply bg-main-white text-main-black  p-5 shadow-lg shadow-black rounded-[3rem]
  /* background-color: #7;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word; */
}

.bot-message {


  @apply bg-main-purple text-white mb-1
 /*  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word; */
}

.message-content {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-width: 95%;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;

  max-height: 100rem;
  padding: 10px;

  width: 70%;
  height: 70%;

  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 transparent; 
}

.message-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;

}

.message-content::-webkit-scrollbar-thumb {
  background-color: #f0f0f0; /* Cor do "thumb" (a parte móvel da barra de rolagem) */
  border-radius: 5px;
}

.message-content::-webkit-scrollbar-track {
  background-color: transparent; /* Cor do "track" (a parte fixa da barra de rolagem) */
}

.message-content p {
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

.message-container {

  @apply flex flex-row-reverse w-[30%] rounded-[3rem] 
  /* display: flex;
  gap: 1.2rem;
  align-items: center; 
  justify-content: center;
  margin-bottom: 1rem;  */
}


.profile-pic {
  width: 80px; 

  border-radius: 50%;
 
}
