

* {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  text-decoration:none;
  }

.footer p {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

img {
    width: 231px;
    max-width: 300px;
    height: auto;
}

::-webkit-scrollbar {
	width: 20px;
	height: 10px;
    border-radius: 10px;
}

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffff;
    min-height: max-content;
    padding: 1.2rem;
    
  
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: 5rem;

}



