@tailwind base;
@tailwind components;
@tailwind utilities;

.main-chat {
  @apply flex items-center h-screen;
}

.aside-header {
  @apply bg-main-black h-full min-h-full max-w-[22%] min-w-[17%] flex flex-col items-center justify-between;
}

.banner-aside {
  @apply flex flex-col items-center justify-evenly gap-12 px-[20%] max-w-[28rem] min-w-[17rem] w-auto;
}

.aside-header button {
  @apply bg-main-white text-lg w-[82%] max-w-[85%] p-[5%] rounded-[1.25rem] hover:bg-main-gray font-bold font-fira-code;
}

.banner-aside img {
  @apply max-w-[100%] min-w-[80%]  w-auto h-auto min-h-48 flex items-center justify-center;
}

.img-logo {
  @apply w-[82%] h-auto pt-12;
}

.footer-aside {
  @apply bg-color-fjs w-full h-[15%] flex items-center justify-center gap-5 ;
}

.footer-aside aside {
 @apply border-white border-2 flex items-center justify-center gap-5 p-3 rounded-xl w-[92%] h-[70%];
}

.footer-aside p {
  @apply text-white text-base font-bold font-fira-code;
}

.icon-engine {
  cursor: pointer;
}

.icon-engine:hover,
button:hover {
  transform: scale(1.1);
}

.footer-aside p:nth-child(1) {
  @apply text-xl;
}

.chat-container {
  @apply bg-main-black;
}

.chat-box {
  @apply w-[85%] h-full bg-main-white;
}

.chat-log {
  @apply w-full h-[85%] pb-3 overflow-y-scroll overflow-y-hidden;
}

.chat-log::-webkit-scrollbar-thumb {
  @apply bg-color-fjs rounded-lg;
}

.chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  gap: 3rem;

  padding: 8rem 0;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
}
