@tailwind base;
@tailwind components;
@tailwind utilities;

.main-chat {
  @apply flex items-center h-screen;
}

.aside-header {
  @apply bg-main-black h-full min-h-full w-[15%] flex flex-col items-center justify-between gap-16;
}

.banner-aside {
  @apply flex flex-col items-center justify-evenly gap-12 px-4;
}

.aside-header button {
  @apply bg-main-white text-lg w-auto p-4 rounded-3xl hover:bg-main-gray font-bold font-fira-code;
}

.banner-aside img {
  @apply w-[350px] h-auto min-h-48 flex items-center justify-center;
}

.img-logo {
  @apply w-80 h-auto pt-12;
}

.footer-aside {
  @apply bg-main-purple w-full h-[15%] flex items-center justify-center gap-4 border-white;
}

.footer-aside p {
  @apply text-white text-base font-bold font-fira-code;
}

.icon-engine {
  cursor: pointer; 
}

.icon-engine:hover,
button:hover {
 transform: scale(1.1);
}

.footer-aside p:nth-child(1) {
  @apply text-xl;
}

.chat-container {
  @apply bg-main-black;
}

.chat-box {
  @apply w-[85%] h-full bg-main-white;
}

.chat-log {
  @apply w-full h-[85%] overflow-y-scroll pb-3
  /* min-height: 12rem;
  overflow-y: scroll;
  padding: 1rem;
  border: 8px solid #dddd;
  border-radius: 5px;
  background-color: #fff; */;
}

.chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  gap: 3rem;

  padding: 8rem 0;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
}
