@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 20px;
	height: 10px;
  border-radius: 10px;
}

.main-section {
  min-height: 100%;
  min-width: 100%;

}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('./fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url('./fonts/SourceSansPro/SourceSansPro-Black.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-bold';
  src: url('./fonts/Ubuntu/Ubuntu-Bold.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABeeZe';
  src: url('./fonts/ABeeZe/ABeeZee-Regular.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}



